<template name="text_input">
      <input id={{question.id}} type="text" class="validate" value={{question.value}}>
      <label for={{question.id}} class={{isActive question.value}}>{{question.label}}</label>
</template>

<template name="date_input">
      <input id={{question.id}} type="date" class="datepicker" data-value={{question.value}}>
      <label for={{question.id}} class={{isActive question.value}}>{{question.label}}</label>
</template>

<template name="dropdown_input">
      <select id={{question.id}}>
        <option value="" disabled selected>Please select...</option>
        {{#each question.options}}
            <option selected={{isSelected this ../question.value}} value={{this}}>{{this}}</option>
        {{/each}}
      </select>
      <label>{{question.label}}</label>
</template>

<template name="checkbox_input">
    <p>{{question.label}}</p>
        {{#each key_value question.options}}
             <p>
              <input type="checkbox" checked={{isSelected ../question.values key}} id={{../question.id}}_{{key}} value={{value}}/>
              <label for={{../question.id}}_{{key}}>{{value}}</label>
            </p>
        {{/each}}
</template>


<template name="staticTable">
    <div class="container">
      <table>
        {{#each subsection.columns}}
          <th>{{this.name}}</th>
        {{/each}}
        {{#each subsection.rows}}
          <tr>
            {{#each ../subsection.columns}}
              {{#if stringsAreEqual 'label' this.type}}
                <td>{{../name}}</td>
              {{/if}}
              {{#if stringsAreEqual 'number' this.type}}
                <td><input id={{this.id}}_{{../id}} type="text" value={{getValue this.id ../values}}></td>
              {{/if}}
            {{/each}}
          </tr>
          {{/each}}
      </table>
    </div>
</template>

<template name="dynamicTable">
    <div class="container">
      <button class="btn add">Add</button>
      <table>
        {{#each subsection.columns}}
          <th>{{this.name}}</th>
        {{/each}}
      </table>
    </div>
</template>

<template name="chooseTemplate">
  <div class="row">
    <div class="input-field col {{col}}">
      {{#if stringsAreEqual 'text' question.type}}
        {{> text_input question=question}}
      {{else}}
        {{#if stringsAreEqual 'dropdown' question.type}}
          {{> dropdown_input question=question}}
        {{else}}
          {{#if stringsAreEqual 'date' question.type}}
            {{> date_input question=question}}
            {{else}}
              {{#if stringsAreEqual 'checkbox' question.type}}
                {{> checkbox_input question=question}}
                  {{else}}
                    {{#if stringsAreEqual 'number' question.type}}
                    {{> text_input question=question}}
                  {{/if}}
              {{/if}}
            {{/if}}
        {{/if}}
      {{/if}}
      </div>
    </div>
</template>
