<template name="text_input">
  <div class="row">
    <div class="input-field col {{col}}">
      <input id={{data.id}} type="text" class="validate" value={{data.value}}>
      <label for={{data.id}} class={{isActive data.value}}>{{data.label}}</label>
    </div>
  </div>
</template>

<template name="date_input">
  <div class="row">
    <div class="input-field col {{col}}">
      <input id={{data.id}} type="date" class="datepicker" data-value={{data.value}}>
      <label for={{data.id}} class={{isActive data.value}}>{{data.label}}</label>
    </div>
  </div>
</template>

<template name="dropdown_input">
  <div class="row">
      <div class="input-field col {{col}}">
      <select id={{data.id}}>
        <option value="" disabled selected>Please select...</option>
        {{#each data.options}}
            <option selected={{isSelected this ../data.value}} value={{this}}>{{this}}</option>
        {{/each}}
      </select>
      <label>{{data.label}}</label>
    </div>
  </div>
</template>

<template name="checkbox_input">
  <div class="row">
    <p>{{data.label}}</p>
        {{#each key_value data.options}}
             <p>
              <input type="checkbox" checked={{isSelected ../data.values key}} id={{../data.id}}_{{key}} value={{value}}/>
              <label for={{../data.id}}_{{key}}>{{value}}</label>
            </p>
        {{/each}}
  </div>
</template>


<template name="staticTable">
    <div class="container">
      <table>
        {{#each data.columns}}
          <th>{{this.name}}</th>
        {{/each}}
        {{#each data.rows}}
          <tr>
            {{#each ../data.columns}}
              {{#if stringsAreEqual 'label' this.type}}
                <td>{{../name}}</td>
              {{/if}}
              {{#if stringsAreEqual 'number' this.type}}
                <td><input type="text" id='{{this._id}}_{{../_id}}'></td>
              {{/if}}
            {{/each}}
          </tr>
          {{/each}}
      </table>
      <button class="btn previous">Previous</button>
      <button class="btn next">Next</button>
    </div>
</template>

<template name="chooseTemplate">
  {{#if stringsAreEqual 'text' data.type}}
    {{> text_input data=data col="s12"}}
  {{else}}
    {{#if stringsAreEqual 'dropdown' data.type}}
      {{> dropdown_input data=data col="s12"}}
    {{else}}
      {{#if stringsAreEqual 'date' data.type}}
        {{> date_input data=data col="s12"}}
        {{else}}
          {{#if stringsAreEqual 'checkbox' data.type}}
            {{> checkbox_input data=data col="s12"}}
          {{/if}}
        {{/if}}
    {{/if}}
  {{/if}}
</template>
