<template name="form_header">
    <h4 class="center-align">{{this.school.schoolDetails.INSTITUTION_NAME}} </h4>
    <h4 class="center-align">{{form}}</h4>
    <h4 class="center-align">{{section}}</h4>
    <h3 class="teal-text">{{subsection}}</h3>
</template>


<template name="form">
  <div class="container">
    {{#with currentContext}}
      {{> subsection subsection=this.subsection formName=this.formName sectionName=this.sectionName}}
    {{/with}}
  </div>
</template>

<template name="subsection">
  {{> form_header section=this.sectionName form=this.formName subsection=this.subsection.display_name}}
  <div class="row">
        <form id={{subsection.name}} class="col s12">
          {{#if stringsAreEqual 'static_table' subsection.subtype}}
              {{> staticTable subsection=subsection}}
            {{else}}
              {{#if stringsAreEqual 'dynamic_table' subsection.subtype}}
                {{> dynamicTable subsection=subsection}}
              {{else}}
                {{#each subsection.questions}}
                  {{> chooseTemplate question=this col="s12"}}
                {{/each}}
            {{/if}}
          {{/if}}
          <button type='submit' class="btn previous">Previous</button>
          <button type='submit' class="btn next">Next</button>
        </form>
    </div>
</template>
