<template name="form_header">
    <h4 class="center-align">{{this.school.schoolDetails.INSTITUTION_NAME}} </h4>
    <h4 class="center-align">{{form}}</h4>
    <h4 class="center-align">{{section}}</h4>
    <h3 class="teal-text">{{subsection}}</h3>
</template>


<template name="form">
  <div class="row">

        <div class="col s12 m4 l3" style="padding: 0px; border-right:1px; "> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->

            {{#if shouldShowSideNav}}
              {{> sideNav}}
            {{/if}}
        </div>

        <div class="col s12 m8 l9" style="border-left:1px; border-left-style:solid; border-color:gray"> <!-- Note that "m8 l9" was added -->

          <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            {{print 'form'}}
            {{#with currentContext}}
              {{> subsection subsection=this.subsection formName=this.formName sectionName=this.sectionName}}
            {{/with}}
        </div>

      </div>
</template>

<template name="subsection">
  {{> form_header section=this.sectionName form=this.formName subsection=this.subsection.display_name}}
  <div class="row">
        <form id={{subsection.id}} class="col s12">
          {{#if stringsAreEqual 'static_table' subsection.subtype}}
              {{> staticTable subsection=subsection}}
            {{else}}
              {{#if stringsAreEqual 'dynamic_table' subsection.subtype}}
                {{> dynamicTable subsection=subsection}}
              {{else}}
                {{#each subsection.questions}}
                  {{> Template.dynamic template=this.type data=this}}
                {{/each}}
            {{/if}}
          {{/if}}
          {{this.type}}
          <button class="btn previous">Previous</button>
          <button class="btn next">Next</button>
        </form>
    </div>
</template>
