<template name="dynamicTable">
      <!-- Modal Trigger -->
       <a class="modal-trigger btn" href="#modal1">Add Block</a>

       <!-- Modal Structure -->
       <div id="modal1" class="modal modal-fixed-footer">
         <div class="modal-content">
           <h4>Add Block</h4>
           <form id="{{subsection.id}}">
           {{#each subsection.columns}}
              {{> Template.dynamic template=this.type data=this}}
           {{/each}}
          </form>
         </div>
         <div class="modal-footer">
           <a class="modal-action modal-save modal-close btn-flat ">Save</a>
           <a class="modal-action modal-close btn-flat ">Cancel</a>
         </div>
       </div>

       <table class="striped responsive-table centered">

        <thead>
          <tr>
            {{#each subsection.columns}}
              <th data-field="{{this.ID}}">{{this.label}}</th>
            {{/each}}
          </tr>
        </thead>

        <tbody>
        {{#each subsection.objects}}
        <tr>
            {{#each this}}
              <td>{{this.values.[0]}}</td>
            {{/each}}
            <td><a class="delete">Delete</a></td>
          </tr>
        {{/each}}
      </tbody>
      </table>
</template>

<!-- <template name="chooseDynamicTableTemplate">
  <div class="row">
    <div class="input-field col {{col}}">
      {{#if stringsAreEqual 'text' column.type}}
        <input id={{column.id}} type="text" class="validate">
        <label for={{column.id}}>{{column.label}}</label>
      {{else}}
        {{#if stringsAreEqual 'dropdown' column.type}}
          {{> dropdown data=column}}
        {{else}}
          {{#if stringsAreEqual 'date' column.type}}
            {{> date data=column}}
            {{else}}
              {{#if stringsAreEqual 'checkbox' column.type}}
                {{> checkbox data=column}}
                  {{else}}
                    {{#if stringsAreEqual 'number' column.type}}
                    <input id={{column.id}} type="text" class="validate">
                    <label for={{column.id}}>{{column.label}}</label>
                  {{/if}}
              {{/if}}
            {{/if}}
        {{/if}}
      {{/if}}
      </div>
    </div>
</template> -->
