<template name="grades">
    <div class="container">
      <form id="{{subsection.id}}">
      <table>
        {{#each subsection.columns}}
          {{#if stringsAreEqual 'number' this.type}}
            <th>{{this.name}}</th>
          {{/if}}
          {{#if stringsAreEqual 'label' this.type}}
            <th>{{this.name}}</th>
          {{/if}}
        {{/each}}

        {{#each subsection.rows}}
          <tr>
            {{#each ../subsection.columns}}
              {{#if stringsAreEqual 'label' this.type}}
                <td>{{../name}}</td>
              {{/if}}
              {{#if stringsAreEqual 'number' this.type}}
                <td><input id={{this.id}}_{{../id}} type="text" class='number' value={{getValue this.id ../id ../values}} autocomplete="off"></td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </form>
    </div>
</template>

<template name="staff">
    <div class="container">
      <form id="{{subsection.id}}">
      <table>
        {{#each subsection.columns}}
          {{#if stringsAreEqual 'number' this.type}}
            <th>{{this.name}}</th>
          {{/if}}
          {{#if stringsAreEqual 'label' this.type}}
            <th>{{this.name}}</th>
          {{/if}}
        {{/each}}

        {{#each subsection.rows}}
          <tr>
            {{#each ../subsection.columns}}
              {{#if stringsAreEqual 'label' this.type}}
                <td>{{../name}}</td>
              {{/if}}
              {{#if stringsAreEqual 'number' this.type}}
                <td><input id={{this.id}}_{{../id}} class='number' type="text" value={{getValue this.id ../id ../values}} autocomplete="off"></td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      </table>
      {{> comment comment=subsection.comment id=subsection.id}}
    </form>
    </div>
</template>
