<template name='export'>
  <div class="container">
    <h2>Export</h2>
    <button class="btn questionStructure">Question Structure</button>
    <h5>Form A</h5>
    <button class="btn formA_all">Export All</button>
    <button class="btn formA_grades">Grades</button>
    <button class="btn formA_staff">Staff</button>
    <h5>Form B</h5>
    <button class="btn formB_all">Export All</button>
    <h5>Form C</h5>
    <button class="btn formC_all">Export All</button>
    <button class="btn formC_sanitation">Sanitation Blocks</button>

  </div>
</template>
