
<template name="main">
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Western Cape Social Audit</title>
  </header>


  <body>
    {{> header}}
    <div style='height:700px'>
    {{> yield}}
  </div>
    <footer>
        {{> footer}}
    </footer>
  </body>

</template>


<template name="header">
  <div id="nav_container">
    {{> sideNav}}
    {{> flashMessages}}
  </div>
</template>

<!-- <template name="navbar">
  <nav class="nav-bar-color" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/"><img class="brand-logo" src="logo.png"></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Schools</a></li>
        <li><a href="#">Audits</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Schools</a></li>
        <li><a href="#">Audits</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template> -->

<template name="footer">
  <footer class="page-footer ee-yellow">
      <div class="container">
        <p>Equal Education Social Audit App 2.0</p>
    </div>
  </footer>
</template>

<template name="sideNav">
    <nav>
      <ul id="slide-out" class="side-nav">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>

  </nav>
</template>
