
<template name="main">
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Western Cape Social Audit</title>
  </header>


  <body>
    {{> header}}
    <div class="formContainer">
      {{> yield}}
    </div>
    <!-- {{> modal}} -->
    {{> footer}}
  </body>

</template>


<template name="header">
  <nav>
    {{> title}}
    <ul class="right hide-on-med-and-down" style='padding-right:30px'>
      {{#if userIsInRole 'admin'}}
        <li><a href="/schools">Schools</a></li>
        <li><a href="/users">Users</a></li>
      {{/if}}
        <li><a href="/audits">Audits</a></li>
        <li>{{> loginButtons align="right"}}</li>
    </ul>
  </nav>
    {{> flashMessages}}
</template>


<template name="footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container" style="color:black;">
      © 2015 Copyright Equal Education
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>
</template>


<template name="title">
  <a class="brand-logo"><img src="logo.png" style="padding:5px"></a>
  <!-- <a class="brand-logo center">{{currentSchoolName}}</a> -->
</template>
