<template name="sideNav">
      <ul class="collapsible" data-collapsible="accordion" style="padding: 2em; box-shadow: none; border: none;">
        <li>
          <a style="color:black;" href="{{pathFor 'audit.home' _id=this.audit._id}}"><div class="collapsible-header"><h5><!--<i class="secondary-content material-icons">home</i>-->{{this.audit.school.schoolDetails.INSTITUTION_NAME}}</h5></div></a>
        </li>
        {{#each this.audit.forms}}
          <li>
            <div class="collapsible-header active">{{this.display_name}}</div>
            <div class="collapsible-body">
              <ul class="collection">
                {{#each this.sections}}
                    {{#each this.sub_sections}}
                      <li><a class='changeIndex collection-item truncate {{shouldHighlight this.name}}'>{{this.display_name}}<i class="secondary-content green-text material-icons {{shouldShow this.hasChanges}}">done</i></a></li>
                    {{/each}}
                {{/each}}
              </ul>
            </div>
          </li>
        {{/each}}
        </ul>
</template>
