


<template name='ecplan'>
  <div class="container">
    <h2>Eastern Cape Norms and Standards Implementation Plan</h2>
    
   
  <div class="yourSchool">

      <ul class="collapsible" data-collapsible="expandable">

           {{#each ecplans}}
             {{> schoolInPlan}}
           {{/each}}
      </ul>
  
  </div>
 

 

 
 <div class="deptDocs">
   
   <h5>Below are the the official Eastern Cape Department of Education Documents:</h5>
   
   <div class="collection">
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=ibIphhew3Eo%3D&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Norms and Standards Implementation Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=P2PXp%2b%2bRskA%3d&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Infrastructure Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=wEBI6jpG%2b7k%3d&tabid=615&mid=2034" target="_blank" class="collection-item ECDoc">ASIDI Eastern Cape Plan</a>
        </div>
        
        
        
        <div class="contact">
          <p>If you have any questions or would like to submit information on you school, please contact
            <a href=mailto:david@equaleducation.org.za class="contactinfo">david@equaleducation.org.za</a>
          </p>
        </div>
        
        

 </div>
  </div>
</template> 

<template name="schoolInPlan">
    
        <li>
          <div class="collapsible-header">{{schoolName}}</div>
          <div class="collapsible-body">
            <p>
              <li>District: {{District}}  </li>
              <li>Project ID: {{projectID}}  </li>
               <li>Implementing agent: {{agent}}  </li>
              <li>Funding: {{source}}  </li>
                <li>Description: {{description}}  </li>
                <li>Stage: {{stage}}  </li>
              <li>  Start date: {{start}}  </li>
                <li>End date: {{end}}  </li>
              <li>  Total cost: {{totalcost}}  </li>
              </p>
            </div>
          </li>
  
     
</template>

<template name="notInPlan">
  <p>Your schools is not in the Department plans.</p>
  <p>Is your school struggling with water, electricity or sanitation, or are your class structures inappropriate? Contact Equal Education
  <a href=mailto:david@equaleducation.org.za class="contactinfo">david@equaleducation.org.za</a></p>
</template>
