<template name='ecplan'>
  <div class="container">
    <h2>Eastern Cape Norms and Standards Implementation Plan</h2>
    <h5>To see what the Department of Education has planned for your school, please type your school name here:</h5>      
   
    
   {{> EasySearch.Input index=index attributes=inputAttributes }}

   {{#EasySearch.IfInputEmpty index=index }}
   {{else}}
     {{#if resultsCount}}
       <div class="count-results">{{resultsCount}} results found.</div>
     {{/if}}
   {{/EasySearch.IfInputEmpty}}

   {{#EasySearch.IfSearching index=index }}
     <div>Searching...</div>
   {{/EasySearch.IfSearching }}

   <ol>
     {{#EasySearch.Each index=index }}
       {{> schoolCard}}
     {{/EasySearch.Each}}
   </ol>

   {{#EasySearch.IfNoResults index=index }}
     <div class="no-results">No results found</div>
    
   {{/EasySearch.IfNoResults }}

   {{> EasySearch.Pagination index=index maxPages=6 }}
   {{! > EasySearch.LoadMore index=index }}

   {{#if showMore}}
     {{> EasySearch.Input name="mini-index" index=index attributes=inputAttributes }}

     <ul>
       {{#EasySearch.Each name="mini-index" index=index }}
         <li>{{schoolName}}</li>
       {{/EasySearch.Each}}
     </ul>
   {{/if}}

    
   <div class="divider">
   </div>
   
     <div class="deptDocs">
  
        <h5>The official Eastern Cape Department of Education Documents:</h5>
    
       <div class="collection">
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=ibIphhew3Eo%3D&tabid=759&mid=3094" target="_blank" class="collection-item        ECDoc">Eastern Cape Norms and Standards Implementation Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=P2PXp%2b%2bRskA%3d&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Infrastructure Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=wEBI6jpG%2b7k%3d&tabid=615&mid=2034" target="_blank" class="collection-item ECDoc">ASIDI Eastern Cape Plan</a>
        </div>
      
    </div>
      
      
    <div class="contact">
      <h2>Contact Equal Education</h2>
      <p>If your school is struggling with water, electricity, sanitation, inappropriate structures, or if you have any other questions: </p>
      <p> <a href=mailto:joineeec@equaleducation.org.za class="waves-effect waves-light btn-large white-text">Email us: joineeec@equaleducation.org.za</a></p>
      <p> <a href=tel:+27436421616 class="waves-effect waves-light btn-large white-text">Phone us: +27 43 642 1616</a></p>
         
    </div>
        
        
  </div>
</template> 


<template name="schoolCard">

  <div class="schoolCard">
    <h2>School Information</h2>

      {{> schoolInfo}}

    <h2>Government Infrastructure Plans</h2>

      {{> ECPlan}}

      {{> ASIDI}}

  </div>
  
</template>


<template name="schoolInfo">
    <ul>
      <li>School name: {{schoolName}}</li>
      <li>District: {{districtName}}</li>
      <li>Principal: {{managerName}}</li>
      <li>Phone number: {{phoneNum}}</li>
      <li>Cell phone number: {{cellno}}</li>
      <li>Email Address: {{email}}</li>
      <li>Fax number: {{faxNum}}</li>
      <li>GPS: {{GIS_Lat}}, {{GIS_Long}}</li>  
      <li>Address: {{address_old}}</li>
      <li>Enrollment: {{snapEnrol}}</li>
      <li>Grade R enrollment: {{gradeREnrol}}</li>
            
    </ul>
</template>

<template name="ECPlan">
  <h4>EC Provincial Infrastructure Priority List</h4>
  

        <ul>
            <li> Implementing agent: <span class="yellow-text">{{agent}}  </span></li>
            <li> Programme: <span class="yellow-text">{{programme}} </span> </li>
            <li> Funding: <span class="yellow-text">{{source}} </span> </li>
            <li> Strategic Priority: <span class="yellow-text">{{strategic}}  </span></li>
            <li> Bidding Status: <span class="yellow-text">{{bid}} </span> </li>
            <li> Parent Priority: <span class="yellow-text">{{parent}} </span> </li>
            <li> Description: <span class="yellow-text">{{description}}</span></li>
            <li> Nature of Investment: <span class="yellow-text">{{nature}}  </span></li>
            <li> Stage: <span class="yellow-text">{{projectStage}}  </span></li>
            <li> Start date: <span class="yellow-text">{{startDate}} </span> </li>
            <li> End date: <span class="yellow-text">{{endDate}}</span>  </li>
            <li> Total cost: <span class="yellow-text">{{totalCost}}  </span></li>
            <li> Comments: <span class="yellow-text">{{ecplanComments}} </span></li>
      </ul>
      

</template>

<template name="PAIA">
  <h4>EE's PAIA Request</h4>
  
    <p> {{schoolName}} is on the PAIA list for {{PAIAvar}}  </p>
       
</template>

<template name="ASIDI">
  
  <h4>ASIDI Master List</h4>
  
     <ul>

       <li> Financial Year: {{asidiYear}}  </li>
       <li> Status: {{asidiStatus}}  </li>
       <li> Comments: {{asidiCommentsA}}  {{asidiCommentsB}}</li>

    
   </ul>
       
</template>

        
      
<template name="EEVisits">
      <ul>
        {{#each visits}}
          <li>We visited them on:{{visitDate}}</li>
          <li>Our notes from this visit:{{visitNotes}}</li>
        {{/each}}
      </ul>
      {{> addVisit}}
    
</template>


<template name="addVisit">
  <h4>Add visit</h4>
  <p>Please fill in the following form for a new school visit:</p>
      <form class="addVisit">
        <textarea> </textarea>
        <input type="date" name="visitDate" class="visitDate"/>
      </form>
</template>


