


<template name='ecplan'>
  <div class="container">
    <h2>Eastern Cape Norms and Standards Implementation Plan</h2>
    <h5>To see what the Department of Education has planned for your school, please type your school name here:</h5>
      <div class="row">
        <div class="input-field col s6">
          
        </div>
      </div>
      
      
    {{> EasySearch.Input index=index attributes=inputAttributes }}

    {{#EasySearch.IfInputEmpty index=index }}
      <div class="">For example "Mandela Elementary School"</div>
    {{else}}
      {{#if resultsCount}}
        <div class="count-results">{{resultsCount}} results found.</div>
      {{/if}}
    {{/EasySearch.IfInputEmpty}}


    {{#EasySearch.IfSearching index=index }}
      <div>Searching...</div>
    {{/EasySearch.IfSearching }}

    <ol class="allSchoolCards">
      {{#EasySearch.Each index=index }}
        {{> schoolInPlan}}
      {{/EasySearch.Each}}
    </ol>

    {{#EasySearch.IfNoResults index=index }}
      <div class="no-results">No results found. Your school is not in the provincial infrastructure plan.</div>
    
    {{/EasySearch.IfNoResults }}

    
    
   
     <div class="deptDocs">
  
        <h5>These are the the official Eastern Cape Department of Education Documents:</h5>
    
       <div class="collection">
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=ibIphhew3Eo%3D&tabid=759&mid=3094" target="_blank" class="collection-item        ECDoc">Eastern Cape Norms and Standards Implementation Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=P2PXp%2b%2bRskA%3d&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Infrastructure Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=wEBI6jpG%2b7k%3d&tabid=615&mid=2034" target="_blank" class="collection-item ECDoc">ASIDI Eastern Cape Plan</a>
        </div>
      
    </div>
      
      
    <div class="contact">
      <p>Is your school struggling with water, electricity or sanitation, or are your class structures inappropriate? Contact Equal Education</p>
      <p> <a href=mailto:joineeec@equaleducation.org.za class="waves-effect waves-light btn-large white-text">Email: joineeec@equaleducation.org.za</a></p>
      <p> <a href=tel:+27436421616 class="waves-effect waves-light btn-large white-text">Phone: +27 43 642 1616</a></p>
         
    </div>
        
        

      
  </div>
</template> 

<template name="schoolInPlan"> 
                
            <div class="row">
                <div class="col s12 m10">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">{{schoolName}}</span>
                      <p>Here is the information found in the Eastern Cape's provincial infrastructure priority list:</p>
                      <ul>
                          <li> Implementing agent: <span class="yellow-text">{{agent}}  </span></li>
                          <li> Programme: <span class="yellow-text">{{programme}} </span> </li>
                          <li> Funding: <span class="yellow-text">{{source}} </span> </li>
                          <li> Strategic Priority: <span class="yellow-text">{{strategic}}  </span></li>
                          <li> Bidding Status: <span class="yellow-text">{{bid}} </span> </li>
                          <li> Parent Priority: <span class="yellow-text">{{parent}} </span> </li>
                          <li> Description: <span class="yellow-text">{{description}}</span></li>
                          <li> Nature of Investment: <span class="yellow-text">{{nature}}  </span></li>
                          <li> Stage: <span class="yellow-text">{{projectStage}}  </span></li>
                          <li> Start date: <span class="yellow-text">{{startDate}} </span> </li>
                          <li> End date: <span class="yellow-text">{{endDate}}</span>  </li>
                          <li> Total cost: <span class="yellow-text">{{totalCost}}  </span></li>
                          <li> Comments: <span class="yellow-text">{{ecplanComments}} </span></li>
                    </ul>
                    
                
                    </div>
             
                    
                  </div>
                </div>
              </div>
     
</template>


